{% extends "base.html" %}


{% block content %}
<div class='container'>
	<div class='row'>
		<div class='col-12 col-md-6'>
	<h2>{{ object.title }} </h2>
    <hr>
    <h6>${{ object.price }}
        <small class="card-stock">
          {% if object.available and object.stock > 0  %}
                  <!-- (Stock: {{ object.stock }}) -->
                  (In Stock)
          {% else %}
                  (Out of Stock)
          {% endif %}
      </small>
    </h6>
	<!-- <small>Post {{ object.timestamp|timesince}} ago</small><br/> -->
	{{ object.description }} <br/><br/>
	{% if object.image %}
	    <img src='{{ object.image.url }}' class='img-fluid' /><hr> 
	{% endif %}
        </div>
    </div>
    <div class='col-12 col-md-6'>
    	{% include 'products/snippets/update-cart.html' with product=object cart=cart %}
    	<!-- {% if object in cart.products.all %}
    	<button class='btn btn-warning'>Remove from cart</button>
    	{% else %}
    	<button class='btn btn-success'>Add to cart</button>
    	{% endif %} -->
    </div>
</div>

{% endblock %}