<div class="card" style="width: 18rem;">
  {% if instance.image %}
    <a href="{{ instance.get_absolute_url }}">
	  <img src="{{ instance.image.url }}" class="card-img-top" alt="{{ instance.title}} logo">
	</a>
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <h6 class="card-price">${{ instance.price }}
        <small class="card-stock">
          {% if instance.available and instance.stock > 0 %}
                  <!-- (Stock: {{ object.stock }}) -->
                  (In Stock)
          {% else %}
                  (Out of Stock)
          {% endif %}
      </small>
    </h6>
    
    <p class="card-text">{{ instance.description|truncatewords:10}}</p>

    <!-- <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a> -->
      {% include 'products/snippets/update-cart.html' with product=instance cart=cart %}
    <!-- <a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL shortcut</a> -->
  </div>
</div>